

body 
{
    background: rgba(255, 204, 204, 0.556);
}


.calc {

    font-family: Arial, Helvetica, sans-serif;
    background: rgba(21, 199, 175, 0.411);
    padding:  20px;
	margin: 0 auto;
	border-radius:30px 30px 30px 30px;
	margin-top: 20%;
	max-width: 215px;
	box-shadow: 1px 1px 5px 2px rgb(198, 128, 193);

}

.calc #display {
	background-color: #f0dfb6;
	height: 35px;
	width: 100%;
	text-align: right;
	font-size: 25px;
	font-weight: bold;
    border-radius:5px ;
}

.row input[type="button"] {
	width: 50px;
    height: 50px;
    margin-top: 10px;
    border-radius: 50px;
    background: rgba(72, 3, 3, 0.5);
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    box-shadow: 0px 4px 1px rgb(4, 54, 4);
}


.row .equal {
	background: rgba(20, 175, 20, 0.5) !important;
}
.row .function {
	background: rgba(180, 0, 0, 0.845) !important;
}
.row .operator {
	background: rgba(243, 243, 85, 0.43) !important;
}